@font-face {
  font-family: Astakhov;
  src: url('/css/fonts/astakhov.ttf');
}
@font-face {
  font-family: Warface;
  src: url('/css/fonts/warface.ttf');
}

#start
{
  width:100%;
  height:100%;
  background-image: url('/backgrounds/1.jpg');
  background-size: cover;
  background-position: center;

}
html,body
{
  margin:0;
  padding:0;
  min-height: 100%;
}

body {
  background: url("/backgrounds/0.jpg") center;
  background-size: cover;
  background-attachment: fixed;
}

body.main {
  background-image: url("/backgrounds/metal.jpg");
}

#but{
    text-decoration:none;
    text-align:center;
    padding:11px 24px;
    border:solid 1px #004F72;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius: 4px;
    font:17px Arial, Helvetica, sans-serif;
    font-weight:bold;
    width: 145px;
    position: absolute;
    color:#E5FFFF;
    background-color:#3BA4C7;
    background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
    background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
    background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
    background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 );
    background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
    -webkit-box-shadow:0 0 2px #bababa, inset 0 0 1px #ffffff;
    -moz-box-shadow: 0 0 2px #bababa,  inset 0 0 1px #ffffff;
    box-shadow:0 0 2px #bababa, inset 0 0 1px #ffffff;
    text-shadow: 0 0 19px #bababa;
    filter: dropshadow(color=#bababa, offx=0, offy=0);
    z-index: 10;
    right: 3%;
    top:90%;
}
#logotmp
{
    z-index: 15;
    width:100%;
    line-height: 100vh;
    text-align: center;
    position: absolute;
}
#startlogo
{
    width:33%
}

body.main .logo {
  position: fixed;
  width: 100%;
  height: 130px;
  text-align: center;
  background: transparent url("/img/logo.png")  no-repeat center center;
  background-size: contain;
  /*background-color: black;*/
  top: 0;
  color: white;
}

.main .logo a {
  width: 200px;
  height: 100%;
  display: inline-block;
}


body.main {
  /*padding-top: 130px;*/
  padding-top: 153px;
  min-height: 100%;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  padding-bottom: 20px;
}

body.main footer {
  position: absolute;
  bottom: 0;
  height: 100px;
  /*background: black;*/
  width: 100%;
  z-index: 10;
}


body.main .left-menu {
  /*display: none;*/
  display: block;
  position: fixed;
  /*top: 25%;*/
  top: 153px;
  height: 275px;
  min-height: 275px;
  width: 201px;
  background: rgba(0,0,0,0.50);
  border-radius: 0 8px 8px 0;
}


.sweet-alert
{
  display: block;
  right: calc(3% - 78px);
  left: initial;
  top: calc(90% - 280px);
  width: 267px;
  background: rgba(0, 9, 9, 0.01);
  margin-top: 0 !important;
}

.sweet-alert[data-has-confirm-button=false][data-has-cancel-button=false] {
  padding-bottom: 11px;
}

.sweet-overlay {
    opacity: 0;
    display: none;
}
.social {
  width: 216px;
  height: auto;
  display: block;
  margin-top: 10px;
}

.sweet-alert button
{
  margin-top: -1.5px;
}

.sweet-alert h2 {
  margin-top: 0;
  margin-bottom: 0;
}


.sweet-alert .button1 {
  text-decoration:none;
  width:175px;
  display: inline-block;
  text-align:center;
  padding:10px ;
  margin-top: 10px;
  border:solid 1px #004F72;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius: 4px;
  font:20px Arial, Helvetica, sans-serif;
  color:#E5FFFF;
  background-color:#3BA4C7;
  background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
  background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
  background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
  background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 );
  background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
  -webkit-box-shadow:0 0 2px #bababa, inset 0 0 1px #ffffff;
  -moz-box-shadow: 0 0 2px #bababa,  inset 0 0 1px #ffffff;
  box-shadow:0 0 2px #bababa, inset 0 0 1px #FFFFFF;
  text-shadow: 0 0 20px #bababa;
  filter: dropshadow(color=#bababa, offx=0, offy=0);
}


.left-menu ul {
  list-style : none;
  padding : 3px;
}

.left-menu li {
  margin-top: 2px;
  padding: 3px 3px 3px 18px;
  display: block;
  color: wheat;
  line-height: 36px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 19px;
  letter-spacing: 1px;
  font-family: Warface;
  transition: all 0.3s;

}

.left-menu li:hover {
  padding-left: 30px;
}

.left-menu li a {
  color: #ffe7bd;
  text-decoration: none;
  width: 100%;
  display: inline-block;
  height: 100%;
  transition: all 0.6s;
}


.left-menu li:hover a {
  color: #7fe5ff;
    text-shadow: 1px 1px 1px white, 0 0 1em white;
}



.left-menu li a span.ico {
  display: inline-block;
  width: 34px;
  background: transparent url("/img/menu/israel-religion-rounded-border-square-border-128.png") center no-repeat;
  background-size: contain;
  height: 34px;
  border-radius: 2px;
  vertical-align: middle;
  margin-right: 10px;
  transition: all 0.2s;
}


.left-menu li a.main span.ico {
  background-image: url("/img/menu/ico6.png");
}
.left-menu li a.portfolio span.ico {
  background-image: url("/img/menu/ico4.png");
}
.left-menu li a.services span.ico {
  background-image: url("/img/menu/ico1.png");
}
.left-menu li a.gallery span.ico {
  background-image: url("/img/menu/ico3.png");
}

.left-menu li:hover a span.ico {
  width: 36px;
  height: 36px;
}



@media (orientation: portrait) {
  .sweet-alert {
    right: calc(50% - 175px );
  }
  #but {
    right: calc(50% - 96px);
  }
  #startlogo{
      width: 65%;
  }

}

.content {
  width: 1200px;
  margin: 0 auto;
  min-height: 300px;
  background: rgba(0,0,0,0.6);
  padding: 60px;
  box-sizing: border-box;
}




@media (max-width: 1652px) {
  .content {
    width: 990px;
  }
}

@media (max-width: 1540px) {
  .content {
    width: auto;
    margin-left: 270px;
    margin-right: 10%;
  }
}
@media (max-width: 1024px) {
  .content {
    width: 100%;
    padding-left: 90px;
    margin: 0 auto;
  }
  
@media (max-width: 768px) {
  .content {
    padding-right: 20px;
    padding-left: 70px;
  }

  .left-menu ul {
    padding-right: 0;
    padding-left: 0;
  }

  .left-menu li {
    padding-right: 0;
    padding-left: 8px;
  }

}  

  body.main .left-menu {
    width: auto;
  }

  .left-menu li a span.text {
    display: none;
  }
  .left-menu:hover li a span.text {
    display: inline-block;
  }
}

.photo {
  width : 100%;

}

.photo img {
  max-width : 100%;
}

.photo-block {
  margin-top: 2em;
  background: white;
  overflow: hidden;
  padding: 4px;
}

.description {
  /* background: rgba(0,0,0,0.9); */
  display: inline-block;
  padding: 1em 1em;
  text-align: justify;
  width: 100%;
  box-sizing: border-box;
    font-weight: bold;
  /* color: white; */
}
